{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- ##### Single Product Details Area Start ##### -->
    <section class="single_product_details_area d-flex align-items-center mt-70">

        <!-- Single Product Thumb -->
        <div class="single_product_thumb clearfix">
            <div class="product_thumbnail_slides owl-carousel">
                {% for image in product.image.all %}
                    <img src="{{ image.image.url }}" alt="{{ product.title }}">
                {% endfor %}
            </div>
        </div>

        <!-- Single Product Description -->
        <div class="single_product_desc clearfix">
            <span>{{ product.brand.title }}</span>
            <a href="cart.html">
                <h2>{{ product.title }}</h2>
            </a>
            <p class="product-price">
                {% if product.discount %}
                    <span class="old-price">${{ product.discount_price }}</span>
                {% endif %}
                ${{ product.price }}
            </p>
            <p class="product-desc">{{ product.description }}</p>

            <!-- Form -->
            <form class="cart-form clearfix" method="post">
                <!-- Select Box -->
                <div class="select-box d-flex mt-50 mb-30">
                    <select name="select" id="productSize" class="mr-5">
                        {% for size in product.size.all %}
                            <option value="{{ size }}">Size: {{ size }}</option>
                        {% endfor %}
                    </select>
                    <select name="select" id="productColor">
                        {% for color in product.objects.c %}

                        {% endfor %}

                        <option value="value">Color: Black</option>
                        <option value="value">Color: White</option>
                        <option value="value">Color: Red</option>
                        <option value="value">Color: Purple</option>
                    </select>
                </div>
                <!-- Cart & Favourite Box -->
                <div class="cart-fav-box d-flex align-items-center">
                    <!-- Cart -->
                    <button type="submit" name="addtocart" value="5" class="btn essence-btn">Add to cart</button>
                    <!-- Favourite -->
                    <div class="product-favourite ml-4">
                        <a href="#" class="favme fa fa-heart"></a>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- ##### Single Product Details Area End ##### -->
{% endblock %}
{% block plugins_js %}
    <script src="{% static 'products/js/plugins.js' %}"></script> <!--nice-select plugin i don't know how is work-->
{% endblock %}