{% extends 'base.html' %}
{% load static %}
{% load brands %}
{% load category_tags %}
{% load mptt_tags %}
{% block content %}
    <!-- ##### Right Side Cart Area ##### -->
    <div class="cart-bg-overlay"></div>

    <div class="right-side-cart-area">

        <!-- Cart Button -->
        <div class="cart-button">
            <a href="#" id="rightSideCart"><img src="img/core-img/bag.svg" alt=""> <span>3</span></a>
        </div>

        <div class="cart-content d-flex">

            <!-- Cart List Area -->
            <div class="cart-list">
                <!-- Single Cart Item -->
                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img src="img/product-img/product-1.jpg" class="cart-thumb" alt="">
                        <!-- Cart Item Desc -->
                        <div class="cart-item-desc">
                            <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">Mango</span>
                            <h6>Button Through Strap Mini Dress</h6>
                            <p class="size">Size: S</p>
                            <p class="color">Color: Red</p>
                            <p class="price">$45.00</p>
                        </div>
                    </a>
                </div>

                <!-- Single Cart Item -->
                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img src="img/product-img/product-2.jpg" class="cart-thumb" alt="">
                        <!-- Cart Item Desc -->
                        <div class="cart-item-desc">
                            <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">Mango</span>
                            <h6>Button Through Strap Mini Dress</h6>
                            <p class="size">Size: S</p>
                            <p class="color">Color: Red</p>
                            <p class="price">$45.00</p>
                        </div>
                    </a>
                </div>

                <!-- Single Cart Item -->
                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img src="img/product-img/product-3.jpg" class="cart-thumb" alt="">
                        <!-- Cart Item Desc -->
                        <div class="cart-item-desc">
                            <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">Mango</span>
                            <h6>Button Through Strap Mini Dress</h6>
                            <p class="size">Size: S</p>
                            <p class="color">Color: Red</p>
                            <p class="price">$45.00</p>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Cart Summary -->
            <div class="cart-amount-summary">

                <h2>Summary</h2>
                <ul class="summary-table">
                    <li><span>subtotal:</span> <span>$274.00</span></li>
                    <li><span>delivery:</span> <span>Free</span></li>
                    <li><span>discount:</span> <span>-15%</span></li>
                    <li><span>total:</span> <span>$232.00</span></li>
                </ul>
                <div class="checkout-btn mt-100">
                    <a href="checkout.html" class="btn essence-btn">check out</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Right Side Cart End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url({% static 'products/img/bg-img/breadcumb.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center mt-70">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>{{ category_name }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Shop Grid Area Start ##### -->
    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">
                        <!-- ##### Single Widget ##### -->
                        <div class="widget catagory mb-50">
                            <!-- Widget Title -->
                            <h6 class="widget-title mb-30">Категории</h6>

                            <!--  Categories  -->
                            <div class="catagories-menu">
                                {% get_categories as categories %}
                                <ul id="menu-content2" class="menu-content collapse show">
                                    {% recursetree categories %}
                                        <!-- Single Item -->
                                        <li class="cn-dropdown-item has-down pr12">
                                            <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
                                            <ul class="sub-menu collapse show">
                                                {% if node.is_root_node %}
                                                    {% if not node.is_leaf_node %}
                                                        <ul class="bg-transparent">
                                                            <li class="children">
                                                                <a
                                                                        href="{{ children.get_absolute_url }}">
                                                                    {{ children }}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    {% endif %}
                                                {% endif %}
                                            </ul>
                                        </li>
                                    {% endrecursetree category_name %}
                                </ul>
                            </div>
                        </div>

                        <div class="widget price mb-50">
                            <!-- Widget Title -->
                            <h6 class="widget-title mb-30">Filter by</h6>
                            <p class="widget-title2 mb-30">Price</p>

                            <div class="widget-desc">
                                <div class="slider-range">
                                    <div data-min="49" data-max="360" data-unit="$"
                                         class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                                         data-value-min="49" data-value-max="360" data-label-result="Range:">
                                        <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all"
                                              tabindex="0"></span>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all"
                                              tabindex="0"></span>
                                    </div>
                                    <div class="range-price">Range: $49.00 - $360.00</div>
                                </div>
                            </div>
                        </div>
                        <div class="widget color mb-50">
                            <!-- Widget Title 2 -->
                            <p class="widget-title2 mb-30">Color</p>
                            <div class="widget-desc">
                                <ul class="d-flex">
                                    <li><a href="#" style="background-color: {{ pass }}" class="color"></a></li>
                                    <li><a href="#" class="color2"></a></li>
                                    <li><a href="#" class="color3"></a></li>
                                    <li><a href="#" class="color4"></a></li>
                                    <li><a href="#" class="color5"></a></li>
                                    <li><a href="#" class="color6"></a></li>
                                    <li><a href="#" class="color7"></a></li>
                                    <li><a href="#" class="color8"></a></li>
                                    <li><a href="#" class="color9"></a></li>
                                    <li><a href="#" class="color10"></a></li>
                                </ul>
                            </div>
                        </div>
                        {% get_brands as brands %}
                        <!-- ##### Single Widget ##### -->
                        <div class="widget brands mb-50">
                            <!-- Widget Title 2 -->
                            <p class="widget-title2 mb-30">Brands</p>
                            <div class="widget-desc">
                                <ul>
                                    {% for brand in brands %}
                                        <li><a href="{{ brand.slug }}">{{ brand }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <p><span>{{ products_by_category.count }}</span> products found</p>
                                    </div>
                                    <div class="product-sorting d-flex">
                                        <p>Sort by:</p>
                                        <form action="" method="get">
                                            <select name="select" id="sortByselect">
                                                <option value="value">Рейтинг</option>
                                                <option value="value">Новые</option>
                                                <option value="value">Цена: Дорогие</option>
                                                <option value="value">Цена: Дещёвые</option>
                                            </select>
                                            <input type="submit" class="d-none" value="">
                                            <button class="headerSearch">Filter</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            {% for product in products %}

                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="single-product-wrapper">

                                        <div class="product-img">

                                            <img src="{{ product.image.first.image.url }}" alt="{{ product.title }}">

                                            <img class="hover-img"
                                                 src="{{ product.image.first.image.url }}" alt="{{ product.title }}">


                                            <!-- Product Badge -->
                                            {% if product.discount %}
                                                <div class="product-badge offer-badge">
                                                    <span>${{ product.discount_price }}</span>
                                                </div>
                                            {% endif %}

                                            <!-- Favourite -->
                                            <div class="product-favourite">
                                                <a href="{{ product.get_absolute_url }}" class="favme fa fa-heart"></a>
                                            </div>
                                        </div>

                                        <!-- Product Description -->
                                        <div class="product-description">
                                            <span>{{ product.brand }}</span>
                                            <a href="{{ product.get_absolute_url }}">
                                                <h6>{{ product.title }}</h6>
                                            </a>
                                            <p class="product-price"><span class="old-price">$75.00</span> $55.00</p>

                                            <!-- Hover Content -->
                                            <div class="hover-content">
                                                <!-- Add to Cart -->
                                                <div class="add-to-cart-btn">
                                                    <a href="#" class="btn essence-btn">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Pagination -->
                    {% if page_obj.has_other_pages %}
                        <nav aria-label="navigation">
                            <ul class="pagination mt-50 mb-70">
                                <!--Get Previous Page -->
                                {% if page_obj.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                                    </li>
                                {% endif %}

                                {% for page in paginator.page_range %}
                                    {% if page_obj.number == page %}
                                        <li class="page-item active"><a class="page-link"
                                                                        href="?page={{ page }}">{{ page }}</a>
                                        </li>
                                    {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ page }}">{{ page }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                <!--Get Next Page-->
                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i
                                            class="fa fa-angle-right"></i></a>
                                    </li>
                                {% endif %}

                                {#                            <li class="page-item"><a class="page-link" href="#">...</a></li>#}


                            </ul>
                        </nav>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>
    <!-- ##### Shop Grid Area End ##### -->
{% endblock %}
{% block plugins_js %}
    <script src="{% static 'products/js/plugins.js' %}"></script>
{% endblock %}