{% load static %}
{% load category_tags %}
{% load mptt_tags %}
<header class="header_area">
    <div class="classy-nav-container d-flex align-items-center justify-content-between light left breakpoint-off">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="#"><img src="{% static 'products/img/core-img/logo.png' %}" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler active"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu menu-on">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li class="megamenu-item active"><a href="#">Shop</a>
                            <div class="megamenu" style="display: block;">
                                {% get_categories as categories %}
                                {% recursetree categories %}
                                    <ul class="single-mega cn-col-4">

                                        <li class="title">{{ node.title }}</li>
                                        {% if not node.is_leaf_node %}
                                            <li><a href="{{ children.get_absolute.url }}">{{ children }}</a></li>
                                        {% endif %}

                                    </ul>
                                {% endrecursetree %}

                                <div class="single-mega cn-col-4">
                                    <img src="img/bg-img/bg-6.jpg" alt="">
                                </div>
                            </div>
                            <span class="dd-trigger"></span><span class="dd-arrow"></span></li>
                        <li class="cn-dropdown-item has-down pr12"><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="single-product-details.html">Product Details</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="single-blog.html">Single Blog</a></li>
                                <li><a href="regular-page.html">Regular Page</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                            <span class="dd-trigger"></span><span class="dd-arrow"></span></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="search-area">
                <form action="#" method="post">
                    <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="#"><img src="{% static 'products/img/core-img/heart.svg' %}" alt=""></a>
            </div>
            <!-- User Login Info -->
            <div class="user-login-info">
                <a href="{% url 'login_auth' %}"><img src="{% static 'products/img/core-img/user.svg' %}" alt=""></a>
            </div>
            <!-- Cart Area -->
            <div class="cart-area">
                <a href="#" id="essenceCartBtn"><img src="{% static 'products/img/core-img/bag.svg' %}" alt="">
                    <span>3</span></a>
            </div>
        </div>

    </div>
</header>