{% extends 'base.html' %}
{% block content %}
    <!-- ##### Checkout Area Start ##### -->
    <div class="checkout_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="checkout_details_area mt-50 clearfix">
                    <div class="cart-page-heading mb-30">
                        <h5>Регистрация</h5>
                    </div>
                    <form method="post" id="custom_user" data-provinces-url="{% url 'ajax_load_provinces' %}">
                        {% csrf_token %}
                        {{ form.country }}
                        <div class="input-group mb-3">
                            {{ form.province }}
                            <div class="input-group-append">
                                <label class="input-group-text" for="province_id">Options</label>
                            </div>
                        </div>


                        <button class="btn essence-btn"> Регистрация</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- ##### Checkout Area End ##### -->
    <!--AJAX-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </script>
    <script>
        $("#country_id").change(function () {
            const url = $("#custom_user").attr("data-provinces-url");  // get the url of the `load_provinces` view
            const countryId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                data: {
                    'country_id': countryId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#province_id").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });

    </script>
{% endblock %}
