{% extends 'base.html' %}
{% block content %}
    <div class="checkout_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="checkout_details_area mt-50 clearfix">

                    <div class="cart-page-heading mb-30">
                        <h5>Billing Address</h5>
                    </div>
                    <form method="post" id="personForm" data-provinces-url="{% url 'ajax_load_provinces' %}"
                          data-countries-url="{% url "ajax_load_countries" %}"
                          data-countries-with_provinces-url="{% url 'ajax_load_country_with_provinces' %}">
                        {% csrf_token %}
                        {{ phone.as_p }}
                        {{ person.as_p }}
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Checkout Area End ##### -->

{% endblock %}